<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Calculator</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  th:href="@{/styles/main.css}">
    <script type="text/javascript" th:src="@{/js/main.js}" defer></script>
</head>
<body>
    <header>
        <h1>Currency Calculator</h1>
    </header>
    <main>

        <p class="input-title">You send</p>
        <div class="input-container">
            <input id="send-input" class="input" type="number" min="0" oninput="calculateOutput(this)">
            <img class="flag-img" alt="sender flag" src="https://firebasestorage.googleapis.com/v0/b/library-3efc9.appspot.com/o/img%2Funited-kingdom.png?alt=media&token=506b33b4-662e-49f5-8d8f-903d6806b848">
            <p class="currency" th:text="${sendCurrency}"></p>
        </div>

        <p class="input-title">They receive</p>
        <div class="input-container">
            <input id="receive-input" class="input" type="number" min="0" oninput="calculateOutput(this)">
            <img class="flag-img" alt="receiver flag" src="https://firebasestorage.googleapis.com/v0/b/library-3efc9.appspot.com/o/img%2Fpoland.png?alt=media&token=a8fa479c-324f-4c97-a668-76dbef1afcc6">
            <p class="currency" th:text="${receiveCurrency}"></p>
        </div>

        <p class="rate-text">
            1 <span th:text="${sendCurrency}"></span> =
            <strong>
                <span id="rate" th:text="${currencyRate}"></span>
                <span th:text="${receiveCurrency}"></span>
            </strong>
        </p>
        <p class="fee-info">No transfer fee</p>

    </main>
</body>
</html>
